body{
    background:#f4f6f9;
}

.sidebar{
    position:fixed;
    width:240px;
    height:100vh;
    background:#212529;
}

.sidebar a{
    display:block;
    color:white;
    text-decoration:none;
    padding:15px;
}

.sidebar a:hover{
    background:#581845;
}

.content{
    margin-left:240px;
    padding:25px;
}

.card-box{
    border:none;
    border-radius:12px;
    color:white;
    padding:25px;
}

.bg1{
    background:#581845;
}

.bg2{
    background:#6f42c1;
}

.bg3{
    background:#198754;
}

.bg4{
    background:#dc3545;
}